.center { text-align: center }
/* override bootstrap, make it darker */
a { color: #0066aa }

body {
  color: #000000;
  /* ensure the header does not overflow */
  padding-top: 44px;
}

p { text-align: justify }

.previous { float: left }
.next { float: right }
.clear { clear: both }
a img { border: 0px }
.indicatrix { font-family: 'URW Bookman L', serif; font-weight: bold; color: #000 }

nav a { color: #5a618b; }

/* Pygments seems to use the .mi class and so does MathJax; override in
   the MathJax context */

.MathJax .mi, .MathJax .mo { color: inherit }

a.paper-title { color: #000 }

/* Styles for the publications page */
/* these shouldn't look like links */
a.abstoggle { color: #000; }
.citations { list-style-type: none }
.citations > li { padding-bottom: 20px }
.citation { margin-left: 2em; text-indent: -2em; }
.abstract { margin-left: 2em; display: block; padding-top: 5px }
.abstract > p { padding-top: 12pt; }

.post { margin-bottom: 50px }
.post img { max-width: 100%; height: auto; }

/* figures */
figcaption { font-style: italic }

.boilerplate { font-style: italic }

/* header */
.header {
    background-image: url(/img/header_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 163px;
    margin-bottom: 15px;
}

.navbar-plain { background-color: #fff; border-bottom: 1px solid #bbb }

.header .container {
    height: 163px;
}

.header img {
    position: relative;
    top: 50px;
}
