.center { text-align: center }
.vspacer { height: 14px }
.vspacer5 { height: 70px }
/* override bootstrap, make it darker */
a { color: #0066aa }

body { color: #000000; }

p { text-align: justify }

.previous { float: left }
.next { float: right }
.clear { clear: both }
a img { border: 0px }
.indicatrix { font-family: 'URW Bookman L', serif; font-weight: bold }

/* Pygments seems to use the .mi class and so does MathJax; override in
   the MathJax context */

.MathJax .mi, .MathJax .mo { color: inherit }

/* Styles for the publications page */
/* these shouldn't look like links */
a.abstoggle { color: #000; }
.citations { list-style-type: none }
.citations > li { border: 1px solid #ccc; border-radius: 8px; padding: 8px; }
.citation { margin-left: 2em; text-indent: -2em; }
.abstract { margin-left: 2em; display: block }
.abstract > p { padding-top: 12pt; }

/* http://webaim.org/techniques/css/invisiblecontent/ */
.hidden508 { position: absolute; width: 1px; height: 1px; overflow: hidden }

/* figures */
figcaption { font-style: italic }

.boilerplate { font-style: italic }