---
layout: standard
title: Home
---

<!-- Disqus comment count -->
<script type="text/javascript">
    var disqus_shortname = 'indicatrix';
    (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

{% for post in paginator.posts %}
  {% assign content = post.content %}
  {% assign commentCount = true %}
  {% include post.html %}
  <div class="vspacer5"></div>
{% endfor %}

<div class="paginator">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="previous">Newer Posts</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="previous">Newer Posts</a>
    {% endif %}
  {% endif %}

  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="next">Older Posts</a>
  {% endif %}
  <div class="clear"></div>
</div>
