<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" 
              data-target=".nav-collapse">
        <span class="caret"></span>
      </a>

      <a class="brand indicatrix" href="/">Indicatrix</a>

      <a href="#content" class="hidden508">Skip to content</a>

      <!-- allow the links to collapse. Inspired by the UX on the Bootstrap
           site itself -->
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/about">About Me</a></li>
          <li><a href="http://projects.indicatrix.org">Projects</a></li>
          <li><a href="/archive">Archive</a></li>
          <li><a href="/publications">Publications and Presentations</a></li>
          <li><a href="/copyright">Copyright</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
