<div class="barbox">
  <h3>Other Accounts</h3>
  <ul class="linklist">
    <li><a href="http://github.com/mattwigway">GitHub</a></li>
    <li><a href="http://twitter.com/mattwigway">Twitter</a></li>
  </ul>
</div>

<div class="barbox">
  <h3>Blogroll</h3>
  <ul class="linklist">
    <li>
      <a href="http://www.humantransit.org">Human Transit</a>
    </li>
    <li>
      <a title="Free and Open Source GIS" href="http://underdark.wordpress.com">UnderDark</a>
    </li>
    <li>
      <a href="http://transitappliance.org">Transit Appliance Development</a>
    </li>
    <li>
      <a href="http://portlandtransport.org">Portland Transport</a>
    </li>
    <li>
      <a href="http://thesource.metro.net">The Source&mdash;Los Angeles Metro</a>
    </li>
    <li>
      <a title="The Source en Español" href="http://elpasajero.metro.net">El Pasajero&mdash;Metro de Los Angeles</a>
    </li>
    <li>
      <a href="http://howweroll.trimet.org">How we Roll&mdash;Portland TriMet</a>
    </li>
    <li>
      <a target="_blank" title="BRT for Silicon Valley." href="http://valleyrapid.org">Valley Rapid&mdash;VTA BRT</a>
    </li>
  </ul>
</div>
