<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}&mdash;Matt Conway</title>

    {% include head-includes.html %}

  </head>
  <body>
    {% include navbar.html %}

    <div class="container">
      <div class="hero-unit">
        <h1>Matt Conway</h1>
        <p>A blog about mapping, Python, GIS, JavaScript, transit, open data,
          planning, &c.</p>
      </div>

      <div class="row">
        <div class="span10">
          {{ content }}
        </div>
        <div class="span2">
          {% include sidebar.html %}
        </div>
      </div>

      <div class="vspacer5"></div>

      {% include boilerplate.html %}
    </div>
    {% include end-of-body-includes.html %}
  </body>
