<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}&mdash;Indicatrix</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    {% include head-includes.html %}

  </head>
  <body>
    {% include navbar.html %}

    <div class="container">
      <div class="hero-unit hidden-phone">
        <h1><a href="/"><img src="/img/header.jpg" alt="Indicatrix" /></a></h1>
        <div class="vspacer"></div>
        <p>A blog about mapping, Python, GIS, JavaScript, transit, open data,
          planning, &c.</p>
      </div>

      <div class="row">
        <div class="span9">
          <a class="hidden508" name="content"></a>
          {{ content }}
        </div>
        <div class="span3">
          {% include sidebar.html %}
        </div>
      </div>

      <div class="vspacer5"></div>

      {% include boilerplate.html %}
    </div>
    {% include end-of-body-includes.html %}
  </body>
